<h1><%= @recipe.name %></h1>
<p class="mt-5"><%= link_to 'add ingredient', new_recipe_ingredient_path(@recipe) %></p>


<% @ingredients.each do |i| %>
  <p><%= i.amount %> <%= i.name %></p>
<% end %>

<h3 class="mt-5">Description</h3>
<p><%= @recipe.description %></p>
